# Environment variables
.env
config/.env
.secrets

# Python cache
__pycache__/
*.pyc

# Private Notebooks
notebooks/9_whatsapp.ipynb

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
client_secret.json
token.json
concurrent_prog
database

